h1{
    text-align: center;
    background-color: red;
    color: white;
}
.giua{
    text-align: center;
}
.hr{
    /* size: 20px; */
    height: 5px;
}
.txtcf{
    color: brown;
}
.red{
    color: red;
}
img{
    width: 100%;
}.txttea{
    color: blue;
    text-align: right;
}